src/by/it/karpeichyk/jd02_09/Person.dtd

<!ELEMENT Persons (Person)+>
<!ELEMENT Person (Email,Nickname,Password,Ads)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT Nickname (#PCDATA)>
<!ELEMENT Password (#PCDATA)>
<!ELEMENT Ads (Ad)+>
<!ELEMENT Ad (Description,Carrying,Volume,Tariff)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Carrying (#PCDATA)>
<!ELEMENT Volume (#PCDATA)>
<!ELEMENT Tariff (#PCDATA)>




